<input class="domanda" type="radio" name="domanda[<%= name %>]" value="<%= peso[0] %>" id="<%= name %>_mai" checked="checked" required><label for="<%= name %>">Mai</label>
<input class="domanda" type="radio" name="domanda[<%= name %>]" value="<%= peso[1] %>" id="<%= name %>_occ" required><label for="<%= name %>">Occasionale</label>
<input class="domanda" type="radio" name="domanda[<%= name %>]" value="<%= peso[2] %>" id="<%= name %>_spe"><label for="<%= name %>">Spesso</label>
